/out
/nginx
/apache2
/lighttpd
/memcached
/pure-ftpd
/pureftpd
/install_enforce/
/install_enforcestatic/
/install_ref/
/install_instrument/
/install_icall/
/httpd/
/lib_pcre/
/lib_zlib/
/libevent/
/redis/
/vsftpd/
/build.log
/logs/
