/out
/nginx
/apache2
/lighttpd
/memcached
/pure-ftpd
/pureftpd
/install_enforce/
/install_enforcestatic/
/install_ref/
/install_instrument/
/install_icall/
/install_musl_enforce/
/install_musl_enforce_static/
/install_musl_instrument/
/install_arm64_ref/
/install_arm64_enforce_static/
/httpd/
/lib_pcre/
/lib_zlib/
/libevent/
/redis/
/vsftpd/
/build.log
/logs/
/install_arm64_enforcestatic/
